  <% programs.each do |program| %>
    <h4><%= program[:name] %></h4>
    <p><%= program[:description] %></p>
    <p><%= program[:instructor] %></p>
    <p><%= program[:start_date] %></p>
    <p><%= program[:end_date] %></p>
    <p><%= program[:hour] > 12 ? program[:hour] % 12 : program[:hour] %>
    <p><%= program[:type] %></p>
  <% end %>

